/*---------------------------------------------------------------------
                 TABLET STYLES - 768 SCREEN RESOLUTION
---------------------------------------------------------------------*/
.deskMenu {
        display: none;
    }

@media screen and (min-width: 768px) {
 
    video {
        max-height: 500px;
    }

    
    
}


/*---------------------------------------------------------------------
                 DESKTOP STYLES - 1024 SCREEN RESOLUTION
---------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
  
   /* ----------------- FLEX --------------- */

    .flexContent {
        display: flex;
        justify-content: space-around;
        height: 300px;
    }
    
    .mainC {
        width: 300px;
        height: 300px;
    }
    
    #title1 {
        transform: rotate(270deg);
        position: absolute;
        background-color: rgba(13, 59, 82, 1);
        margin-left: -150px; 
        margin-top: 130px;
        width: 250px;
        
    }
    
    #title2 {
        transform: rotate(270deg);
        position: absolute;
        background-color: rgba(13, 59, 82, 1);
        margin-left: -160px; 
        margin-top: 130px;
        width: 250px;
    }
    
    #title3 {
        transform: rotate(270deg);
        position: absolute;
        background-color: rgba(13, 59, 82, 1);
        margin-left: -140px; 
        margin-top: 130px;
        width: 250px
    }

    .headings {
        text-align: right;
        padding-right: 30px;
        z-index: -1;
    }

    .areaC {
        padding-left: 20px; 
    }

    
    .mainC h5, .mainArt p {
        text-align: left;
    }
    
    .contactArt {
        text-align: right;
    }
    
    /* --------------- FLEX END ------------ */
    
    /* -------------- DESKTOP MENU ---------- */
    
    .navBtn, {
        display: none;
    }
    
    .deskMenu {
        z-index: 1;
        display: inline-block;
        background-color: rgba(13, 59, 82, 1);
        width: 400px;
        position: absolute;
        margin-top: -437px;
        margin-left: 50px;
        height: 435px;
        
    }
    
    .deskMenu ul li {
        
    }
    
    
    
    video {
        max-height: 500px;
    }
    
}
